configuration {
    /* Font is set by the theme (JetBrainsMono Nerd Font) */

    display-ssh:    " SSH";
    display-run:    " RUN";
    display-drun:   " APP";
    display-window: " WIN";
    display-combi:  " ALL";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
}


@theme "~/.config/rofi/tron.rasi"

listview {
	lines: 6;
	columns: 2;
}

window {
	width: 30%;
}
